<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Мой архивъ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/homepage">Inspire-Write-Publish</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.username %><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/users/profile/<%= user.username %>">Мой профиль</a></li>
                      <li><a href="/createfic">Добавить фанфик</a></li>
                      <li><a href="/myfics">Мой архивъ</a></li>
                      <li><a href="/profile/settings">Настройки профиля</a></li>
                    </ul>
                </li>

                <li><a href="#">Правила</a></li>
                <li><a href="#">О нас</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <form action="/search" method="post" class="navbar-search pull-left">
                  <input type="text" name="search" class="form-control" placeholder="Найти...">
                </form>
              </li>
                <li>
                    <a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span>Выйти</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
      <h2>Мой архивъ:</h2>
      <ul>
      <div>
      	<% stories.forEach(function(story) { %>
      			<li><a href="/story/<%= story._id %>"> <h3><%= story.title %> </h3></a>
      				<p>
      					<form action="/<%= story._id %>/addpart" method="get">
                  <button type="submit" class="btn btn-info">Измѣнить:</button>
                </form>
                <form action="/deletefic/<%= story._id %>" method="post">
                  <button type="submit" class="btn btn-danger">Сжечь сіе творѣние</button>
                </form>
      				</p>
      			</li>
      	<% }); %>
      	</div>
      </ul>

    </div>
  </body>
</html>
