<!DOCTYPE html>
<html>

<head>
	<title>
		Мой паспортъ
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel='stylesheet' href='/stylesheets/style.css' />
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
	</head>

	<body>
	<% layout('layout') -%>


<div class="container">
	<div class="info">

<div class="avatar">

		<% if(author.avatar){ %>
			<!-- <div class="view view-third">
	     <img src="data:image/jpg;base64,<%= author.avatar %>" />
	     <div class="mask">
	     <h2>Title</h2>
	     <p>Your Text</p>
	         <a href="#" class="info">Read More</a>
	     </div>
	</div>-->
		 <img src='data:image/jpg;base64,<%= author.avatar %>' />
		<% } else {%>
			<img src="/images/ava.jpg"/>
			<% } %>
				<p id="username"><%= author.username %></p>
</div>

<% if(author.about){ %>
<h3>О себѣ:</h3>
<p>

	<%= author.about %>

</p>
<% } %>
	</div>
	<h3>Произвѣденія автора: </h3>

	<ul>
	<div class="story">
		<% if(stories.length == 0) { %>
			<h4>Сея персона столь ленива, что до сихъ поръ нѣ удосужилась создать ни одного творенія.</h4>
			<% } else { %>
		<% stories.forEach(function(story) { %>
				<li><a href="/story/<%= story._id %>"> <h3><%= story.title %> </h3></a>
					<p>
						<b>Фендом: </b><%= story.fandom %>
						<br/><b>Персонажи: </b><%= story.characters %>
						<br/><b>Рейтинг: </b><%= story.rating %>
						<br /><b>Жанр: </b><%= story.genre %>
						<br/><b>Размер: </b><%= story.size %>
						<br/><b>Статус: </b><%= story.status %>
						<br /><br /><b>Описание: </b><%= story.description %>
					</p>
				</li>
		<% }); }%>
		</div>
	</ul>

</div>



		<script src="js/scripts.js"></script>
	</body>
	</html>
