<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= story.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel="stylesheet" href="/stylesheets/book_un.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <% layout('layout') -%>
<div class="container">

    <h1><%= story.title %></h1>
    <div class='back'>
      <div class='photo'>
        <img src='https://pp.vk.me/c411022/v411022736/745e/59fnzwhGtnI.jpg'/>
      </div>
      <div class='text'>
        <p>
          <b>Автор: </b><a href="/users/profile/<%= story.author._id %> "><%= story.author.username %></a>
          <br/><strong>Фендом: </strong><%= story.fandom %>
          <br/><strong>Персонажи: </strong><%= story.characters %>
          <br/><strong>Рейтинг: </strong><%= story.rating %>
          <br /><strong>Жанр: </strong><%= story.genre %>
          <br/><strong>Размер: </strong><%= story.size %>
          <br/><strong>Статус: </strong><%= story.status %>
          <br /><br /><strong>Описание: </strong><%= story.description %>
           <br/><strong>Комментарий от автора: </strong><%= story.authComment %>
           <br/><strong>Последнее обновление: </strong><%= story.date %>
        </p>

      </div>


      <div class='composition'>
       <p>
         <pre><%= story.text %></pre>
       </p>

     </div>

    </div>

    <%  if(user) { %>
    <div class="comments">
      <label>Добавить замѣчаніе:</label>
      <form action="/<%= story._id %>/addcomment" method="post">
        <textarea class="form-control" cols="4" rows="10"  name="comment" required></textarea>

        <input type='submit' class='btn btn-primary' value="Отправить голубя" />
      </form>
    </div>
    <% } %>
    <div class='list'>
      <label>Всѣ замѣчанія:</label>
      <%  if(story.comments.length == 0){ %>
        <h4>Какая досада. Ни одного голубя с посланіѣм не было доставлено.</h4>
        <% } else { %>
      <ul>
      <% story.comments.forEach(function(comment) { %>
          <li><a href="/users/profile/<%= comment.author %>"> <%= comment.author %> </a>
            <p>
              <%= comment.body %>
            </p>
            <p>
              <b>Дата получѣнія:</b><%= comment.date %>
            </p>
            <% if(user) { %>
              <%  if(user._id == story.author._id || user.role == 'admin') { %>
            <form action="/<%= story._id%>/<%= comment._id %>/deletecomment" method="post">
              <input type='submit' class='btn btn-primary' value="Сжечь сие замѣчаніе" />
            </form>
              <% } }%>
          </li>
      <% }); %>
  </ul>
  <% } %>
    </div>

</div>

  </body>
</html>
