<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= story.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel="stylesheet" href="/stylesheets/book_un.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <% layout('layout') -%>
<div class="container">

    <h2><%= story.title %></h2>

    <div class='back'>
      <!-- <div class='photo'>
        <img src='https://pp.vk.me/c411022/v411022736/745e/59fnzwhGtnI.jpg'/>
      </div> -->
      <div class='text'>
        <p>
          <b>Создатѣль: </b><a href="/users/profile/<%= story.author._id %> "><%= story.author.username %></a>
          <br/><strong>Происходжѣніе: </strong><%= story.fandom %>
          <br/><strong>Герои: </strong><%= story.characters %>
          <br/><strong>Рейтингъ: </strong><%= story.rating %>
          <br /><strong>Жанръ: </strong><%= story.genre %>
          <br/><strong>Размеръ: </strong><%= story.size %>
          <br/><strong>Статусъ: </strong><%= story.status %>
          <br /><br /><strong>Описание: </strong><%= story.description %>
           <br/><strong>Замѣчаніе отъ создатѣля: </strong><%= story.authComment %>
           <br/><strong>Последнѣе обновление: </strong><%= date %>
        </p>

      </div>




      <div class='composition'>
       <p>
         <pre><%= story.text %></pre>
       </p>

     </div>

    </div>
    <% if(user) { %>
      <%  if(user._id == story.author._id || user.role == 'admin') { %>
        <% if(user._id == story.author._id) { %>
        <form action="/<%= story._id %>/addpart" method="get">
          <div style="float:left">
            <button type="submit" class="btn"style="margin: 2px">Измѣнить текстъ</button>
          </div>
        </form>
        <% }%>
        <form action="/deletefic/<%= story._id %>" method="post">
          <input type="hidden" name="_csrf" value="<%=csrfToken %>">
          <div style="float:left;">
            <button type="submit" class="btn" >Сжечь сіе творѣние</button>
          </div>
        </form>

        <%}}%>

    <%  if(user) { %>
    <div class="comments">
      <br /><h3 style="margin: 5% 0% 0%">Добавить замѣчаніе:</h3>
      <form action="/<%= story._id %>/addcomment" method="post">
        <textarea class="form-control" cols="4" style="width:700px" rows="10"  name="comment" required></textarea>

        <input type='submit' class='btn' value="Отправить голубя" />
      </form>
    </div>
    <% } %>

      <h3>Всѣ замѣчанія:</h3>
      <%  if(story.comments.length == 0){ %>
        <h4>Какая досада. Ни одного голубя с посланіѣм не было доставлено.</h4>
        <% } else { %>
      <ul>
        <div class='story'>
      <% story.comments.forEach(function(comment) { %>
          <li> <p style="color: brown; font-size: 20px;">

           <%= comment.author %> </p>
            <p style="font-size:16px; padding:1%; background-color:rgba(249, 244, 235, 0.93)">
              <%= comment.body %>
            </p>
            <p>
              <b>Дата получѣнія:</b><%= comment.date %>
            </p>
            <% if(user) { %>
              <%  if(user._id == story.author._id || user.role == 'admin') { %>
            <form action="/<%= story._id%>/<%= comment._id %>/deletecomment" method="post">
              <input type='submit' class='btn' value="Сжечь сие замѣчаніе" />
            </form>
              <% } }%>
          </li>
      <% }); %>
      </div>
  </ul>
  <% } %>


</div>

  </body>
</html>
