<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= story.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel="stylesheet" href="/stylesheets/book_un.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/homepage">Inspire-Write-Publish</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= story.author.username %><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/users/profile/<%= story.author.username %>">Мой профиль</a></li>
                      <li><a href="/createfic">Добавить фанфик</a></li>
                      <li><a href="/myfics">Мой архивъ</a></li>
                      <li><a href="/profile/settings">Настройки профиля</a></li>
                    </ul>
                </li>

                <li><a href="#">Правила</a></li>
                <li><a href="#">О нас</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <form action="/search" method="post" class="navbar-search pull-left">
                  <input type="text" name="search" class="form-control" placeholder="Найти...">
                </form>
              </li>
                <li>
                    <a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span>Выйти</a>
                </li>
            </ul>
        </div>
    </nav>
<div class="container">

    <h1><%= story.title %></h1>
    <div class='back'>
      <div class='photo'>
        <img src='https://pp.vk.me/c411022/v411022736/745e/59fnzwhGtnI.jpg'/>
      </div>
      <div class='text'>
        <p>
          <b>Автор: </b><a href="/users/profile/<%= story.author.username %> "><%= story.author.username %></a>
          <br/><strong>Фендом: </strong><%= story.fandom %>
          <br/><strong>Персонажи: </strong><%= story.characters %>
          <br/><strong>Рейтинг: </strong><%= story.rating %>
          <br /><strong>Жанр: </strong><%= story.genre %>
          <br/><strong>Размер: </strong><%= story.size %>
          <br/><strong>Статус: </strong><%= story.status %>
          <br /><br /><strong>Описание: </strong><%= story.description %>
           <br/><strong>Комментарий от автора: </strong><%= story.authComment %>
        </p>

      </div>


      <div class='composition'>
       <p>
         <pre><%= story.text %></pre>
       </p>

     </div>

    </div>

</div>

  </body>
</html>
